html {
  margin: 0;
  padding: 12px;
  overflow: hidden;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: auto;
  font-family: Arial;
}

label:hover {
  cursor: pointer;
}

pre, span {
  font-family: "Courier New";
  font-size: 11px;
  margin: 0;
}

input[type="checkbox"] {
  position: relative;
  top: 3px;
}

#console {
  position: fixed; 
  top: 10px;
  right: 10px;
  width: 50vw;
  height: calc(100vh - 30px);
  background-color: black;
  color: #f0f0f0;
  border-radius: 5px;
  padding: 5px;
  overflow-y: auto;
  scrollbar-width: thin;
  scroll-behavior: smooth;
}

#console .clear {
  position: sticky;
  top: -3px;
  float: right;
  color: white;
  cursor: pointer;
  font-size: 22px;
}

#console .clear:hover {
  transform: scale(1.1);
  text-shadow: 0 0 5px white;
}